<header>
    <div class="py-5">
        <div class="flex
                    justify-between
                    border-b-[1px]
                    border-gray-500
                    pb-2
                    items-center"
        >
            <div>
                <a href="/">
                    LOGO
                </a>
            </div>

            <div>
                <%- include('./input-search.ejs')-%> 
            </div>

            <div>
                <a href="/login">Log in</a>
            </div>
        </div>        
        <nav>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>